:root {
    font-family: '0xProtoNerdFont', monospace;
    font-size: large;
    color: white;

    /* margin-top: 10px;
    margin-bottom: 10px; */
    margin-left: 20px;
    margin-right: 20px;
} a {
    color: aqua;
    text-decoration: none;
} body {
    background-color: rgb(20, 20, 20);
} .flexClass {
    display: flex;
    gap: 25px;
}