:root {
    font-family: '0xProtoNerdFont', monospace;
    font-size: large;
    margin-left: 20px;
    margin-right: 20px;
    color: white;
} a {
    color: aqua;
} body {
    background-color: rgb(20, 20, 20);
}