:root {
    font-family: '0xProtoNerdFont', monospace;
    font-size: large;
    color: white;

    /* margin-top: 10px;
    margin-bottom: 10px; */
    margin-left: 20px;
    margin-right: 20px;
} a {
    color: aqua;
    text-decoration: none;
} body {
    background-color: rgb(20, 20, 20);
} .flexClass {
    display: flex;
    gap: 25px;
}

.box {
    background-color: rgb(15, 15, 15);
    border-radius: 10px;
    padding: 10px;
} .box > .boxinatext {
    margin-left: 20px;
    margin-right: 20px;
}

.githubReleaseDate {
    font-size: x-small;
    color: rgb(205, 205, 205);
} .githubTag {
    color: rgb(255, 255, 255);
    font-size: larger;
} .githubChangelog {
    color: rgb(255, 255, 255);
}

.codeBox {
    background-color: rgb(15, 15, 15);
    border-radius: 10px;
    width: min-content;
} .codeBox > .codeInAbox {
    margin-left: 30px;
    margin-right: 30px;
}